body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: 'DM Sans', sans-serif;
}

h1 { font-weight: 400 !important; }
h2 { font-weight: 300 !important;}
h3 { font-weight: 300 !important; }
p { font-weight: 400; }
p.thin { font-weight: 200; }
p.ultralight { font-weight: 100; }

.Titulo{
  text-align: start;
  margin-bottom: 20px;
}
.subTitulo{
  text-align: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile{
  display: flex !important;
}

.desk{
  display: none !important;
}

/* Estilos para la barra de desplazamiento */
body::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background: #eaeaea; /* Color de fondo de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 4px; /* Borde redondeado del pulgar */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6; /* Color del pulgar al pasar el cursor sobre él */
}

a{
  color: black !important;
}

@media (min-width: 768px) {
  html{
      scroll-behavior: smooth !important;
  }

  .mobile{
      display: none !important;
  }

  .desk{
      display: flex !important;
  }
  .Titulo{
      text-align: start;
  }
  .subTitulo{
      text-align: start;
  }
}